<html>
<head>
  <link rel="stylesheet" href="../static/css/style.css" type="text/css">
  <script type="text/javascript" src="../static/js/main.js"></script>
</head>
<body>
  <form method="GET" action="./sim/">
  <div class="boardText">
    <h3>Allied Board</h3>
    <div class="boardDropdown">
      <select class="boardDropdown", id="numrowsAlly" name="numrows" onchange="changeAllied()">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
      </select>
    </div>
    <table id="maintable">
      <tbody id="maintablebodyAlly">
        <tr>
          <td>Row 1</td>
          <td>
            <input type="text" id="row1text1" placeholder="Text1">
            <input type="text" id="row1text2" placeholder="Text2">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="boardText">
    <h3>Enemy Board</h3>
    <select id="numrowsEnemy" name="numrows" onchange="changeEnemy()">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
    <table id="maintable">
      <tbody id="maintablebodyEnemy">
        <tr>
          <td>Row 1</td>
          <td>
            <input type="text" id="row1text1" placeholder="Text1">
            <input type="text" id="row1text2" placeholder="Text2">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button type="button" onclick="getAllTables()">Submit</button>
    <input type="submit" value="SubmitInput">
    <button type="button" onclick="testKrippSim()">Test Kripp</button>
  </div>
  </form>
</body>
</html>
