<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<body>
  <center>
    <h1>{{ title }}</h1>
    <h2>Wins: {{ WLProbs[0] }}% | Ties: {{ WLProbs[2] }}% | Losses: {{ WLProbs[1] }}% </h2>
    <h3>P( Win | First ): {{ WLProbs[3] }}% | P( Tie | First ): {{ WLProbs[5] }}% | P( Loss | First ): {{ WLProbs[4] }}%</h3>
  </center>
  <center>
    <canvas id="chart" width="1280" height="720"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : {{ labels|tojson }},

        datasets : [{
          fillColor: "rgba(255,0,0,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : {{ loss_values|tojson }}
        },{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : {{ tie_values|tojson }}
        },{
          fillColor: "rgba(0,255,0,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : {{ win_values|tojson }}
        }
        ]
      }
      // console.log(barData)

     // get bar chart canvas
     var mychart = document.getElementById("chart").getContext("2d");

       steps = 10
       max = {{max}}

     // draw bar chart
     new Chart(mychart).Bar(barData, {

       scales:{
         xAxes: [{stacked: true}],
         yAxes: [{stacked: false,
                  ticks: {
                    beginAtZero:true,
                  }}]
       },

       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       barStrokeWidth: 0,
       scaleShowLabels: true
       }
     );

    </script>
  </center>
</body>
</html>
